*{
    padding: 0;
    margin: 0;
    
}

.links{
    
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    background: linear-gradient(90deg, rgba(105,50,187,1) 0%, rgba(125,106,209,1) 45%, rgba(133,114,215,1) 98%);
    
}

.links label{
    padding: 19px;
    flex-grow: 1;
    cursor: pointer;
    transition: all .4s;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 100%;
    color: rgb(255, 255, 255);
    
}

.links label:hover{
    background-color: rgba(236, 90, 224, 0.2);
    animation: colors 15s ease infinite;
    background-size: 300% 300%;
    
}

.scroll input{
    display: none;
    

}

.bloco{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
#inicio{
    background: linear-gradient(45deg, #aaaaaa, #bbbbbb, #f2dcbb, #f9f7cf);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
    
}



#sobre{
   
background: linear-gradient(90deg, rgba(45,25,55,1) 0%, rgba(111,0,254,1) 97%);
background-size: 300% 300%;
animation: colors 15s ease infinite;

}

#portifolio{
    background-color: #faa;

}

#contato{

    background-color: #aaa;

}

/*#noticias{

    background-color: #414950;

}*/

.scroll{
    display: flex;
    
    width: 100vw;
    height: 100vhh;
    overflow: hidden;
    
}


.sections{
    transition: all .4s;
    
}



#rd_sobre:checked ~ .sections{

    margin-top:-100vh;
   
}

#rd_portifolio:checked ~ .sections{

    margin-top: -200vh;

}
#rd_contato:checked ~ .sections{

    margin-top: -300vh;
    
}

/*#rd_noticias:checked ~ .sections{

    margin-top: -400vh;
    
}*/

#img_topo{

    text-align: center;
    width: auto;
    height: auto;
}


h1::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;

}

#img_bh{

    text-align: center;
    width: 1000px;
    height: auto;

}

@keyframes pisca {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

h1{
    font-family: 'Kodchasan', sans-serif;
    text-align: center;
    color: #fff;
}

@keyframes colors{
    0%{
        background-position: 0% 50%;

    }
    50%{
        background-position: 100% 50%;

    }
    100%{
        background-position: 0% 50%;

    }
}




