*{
    padding: 0;
    margin: 0;
}

.links{
    
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    background: rgb(187,84,128);
    background: linear-gradient(90deg, rgba(187,84,128,1) 0%, rgba(128,16,138,1) 41%);
    
}

.links label{
    padding: 19px;
    flex-grow: 1;
    cursor: pointer;
    transition: all .4s;
    text-align: center;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 100%;
    color: rgb(255, 255, 255);
}

.links label:hover{
    background-color: rgba(236, 90, 224, 0.2);
}

.scroll input{
    display: none;

}

.bloco{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
#inicio{
    background: rgb(204,183,214);
background: linear-gradient(90deg, rgba(204,183,214,1) 0%, rgba(150,111,200,1) 97%);
}

#sobre{
    background-color: #69f;

}

#portifolio{
    background-color: #faa;

}

#contato{

    background-color: #aaa;

}

#noticias{

    background-color: #414950;

}

.scroll{
    display: flex;
    width: 100vw;
    height: 100vhh;
    overflow: hidden;
}


.sections{
    transition: all .4s;
}



#rd_sobre:checked ~ .sections{

    margin-top:-100vh;
   
}

#rd_portifolio:checked ~ .sections{

    margin-top: -200vh;

}
#rd_contato:checked ~ .sections{

    margin-top: -300vh;
    
}

#rd_noticias:checked ~ .sections{

    margin-top: -400vh;
    
}

#img_topo{

    text-align: center;
    width: auto;
    height: auto;
}


h1::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;

}

@keyframes pisca {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

h1{
    font-family: 'Kodchasan', sans-serif;
    text-align: center;
}




